@media(max-width: 393px) {
    .cabecalho .navegacao ul {
        gap: 10px;
    }

    .navegacao ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .principal::before {
        content: "";
        grid-column: 2;
        grid-row: 2;
        height: 1px;
        width: 7em;
        background-color: white;
        justify-self: center;
    }

}

@media (max-width: 495px) {
    .cabecalho .navegacao ul {
        gap: 10px;
    }

    .navegacao ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .principal::before {
        content: "";
        grid-column: 2;
        grid-row: 2;
        height: 1px;
        width: 21em;
        background-color: white;
        justify-self: center;
    }
    
}

/* @media(max-width: 495px) {

} */

@media (max-width: 650px) {
    .cabecalho {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .logo img {
        max-width: 100px;
        max-height: 100px;
    }
}

@media (max-width: 730px) {

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .redes-sociais ul li {
        display: flex;
        justify-content: center;
    }

    .redes-sociais h4 {
        display: flex;
        text-align: center;
    }
}