body {
    font-family: "Poppins", sans-serif;
    background: #1C2024;
    background: linear-gradient(150deg, rgba(28, 32, 36, 1) 0%, rgba(198, 191, 182, 1) 100%);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    margin: 0 auto;
}

.logo img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.cabecalho .navegacao ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cabecalho .navegacao a {
    color: #c6bfb6;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: #c6bfb6;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegacao a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

footer {
    display: flex;
    flex-direction: column;
    background: #c6bfb6;
}

.redes-sociais h4 {
    display: flex;
    flex-direction: column;
    padding: 25px 10px 10px 25px;
    color: #3f3d3d;
}

.redes-sociais ul {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 10px 25px;
}

.redes-sociais ul li a {
    color: #cc8e31;
    font-size: 20px;
    transition: 0.3s;
}

.redes-sociais ul li a:hover {
    color: black;
    transform: scale(1.1);
}

.copy {
    text-align: start;
    margin: 20px 0;
    padding: 20px;
}