@media(max-width: 393px) {
    .cabecalho .navegacao ul {
        gap: 10px;
    }

    .navegacao ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .copy {
        text-align: center;
    }

    .contato {
        text-align: center;
    }

}

@media (max-width: 480px) {
    .cabecalho .navegacao ul {
        gap: 10px;
    }

    .navegacao ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .principal {
        min-height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .copy {
        text-align: center;
    }

    .contato {
        text-align: center;
    }

}


@media (max-width: 650px) {
    .cabecalho {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .logo img {
        max-width: 100px;
        max-height: 100px;
    }
}

@media (max-width: 730px) {

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .redes-sociais ul li {
        display: flex;
        justify-content: center;
    }

    .redes-sociais h4 {
        display: flex;
        text-align: center;
    }

    .copy {
        text-align: center;
    }

    .contato {
        text-align: center;
    }
}