body {
    font-family: "Poppins", sans-serif;
    background: #1C2024;
    background: linear-gradient(150deg, rgba(28, 32, 36, 1) 0%, rgba(198, 191, 182, 1) 100%);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 45px;
    margin: 0 auto;
}

.logo img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.cabecalho .navegacao ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cabecalho .navegacao a {
    color: #c6bfb6;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: #c6bfb6;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegacao a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.principal {
    min-height: calc(100vh - 125px);
    display: grid;
    grid-template-columns: 2fr 1px 1fr;
    grid-template-rows: auto 1fr;
    padding: 45px;
}

.informacoes {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    text-align: center;
}

.agenda {
    padding: 0 0 25px 0;
}

.agenda h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #c6bfb6;
}

.agenda p {
    color: #c6bfb6;
    font-size: 21px;
}

.copy {
    grid-column: 1;
    align-self: center;
    color: #c6bfb6;
    font-size: 18px;
    padding: 20px;
    max-width: 600px;
    width: 100%;

    justify-self: end;
    margin-right: 0;
}

.principal::before {
    content: "";
    grid-column: 2;
    grid-row: 2;
    width: 1px;
    background-color: white;
    justify-self: center;
}

.contato {
    grid-column: 3;
    align-self: center;
    color: #c6bfb6;
    font-size: 18px;
    padding: 25px;
}

.redes-contatos {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 25px;
}

.redes-contatos ul li a {
    color: #c6bfb6;
    font-size: 20px;
    transition: 0.3s;
}

.redes-contatos ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes-contatos ul li a:hover {
    color: black;
    transform: scale(1.1);
}






footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #c6bfb6;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.redes-sociais h4 {
    display: flex;
    flex-direction: column;
    padding: 25px 10px 10px 10px;
    color: #3f3d3d;
}

.redes-sociais ul {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.redes-sociais ul li a {
    color: #cc8e31;
    font-size: 20px;
    transition: 0.3s;
}

.redes-sociais ul li a:hover {
    color: black;
    transform: scale(1.1);
}

.copy-footer {
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
    padding: 20px;
}