body {
    font-family: "Poppins", sans-serif;
    background: #1C2024;
    background: linear-gradient(150deg, rgba(28, 32, 36, 1) 0%, rgba(198, 191, 182, 1) 100%);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 45px;
    margin: 0 auto;
}

.logo img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.cabecalho .navegacao ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cabecalho .navegacao a {
    color: #c6bfb6;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: #c6bfb6;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegacao a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.principal {
    min-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-fotos {
    height: auto;
}

.carrossel-fotos {
    position: relative;
    height: 750px;
    overflow: hidden;
    background: #000;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.6s ease;
}

.slides img {
    width: 100%;
    height: 750px;
    object-fit: contain; /* para manter proporção sem cortar usar o 'contain' ou 'cover' que corta a imagem*/
    background: #000;
    flex-shrink: 0;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 45px;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
    z-index: 10;
    border-radius: 8px;
}

.seta-esq {
    left: 10px;
}

.seta-dir {
    right: 10px;
}

.seta:hover {
    background: #4d4f50;
}

.btn-pause {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background: #4d4f50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-pause:hover {
    background: #fff;
    color: #000;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #c6bfb6;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.redes-sociais h4 {
    display: flex;
    flex-direction: column;
    padding: 25px 10px 10px 10px;
    color: #3f3d3d;
}

.redes-sociais ul {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 10px 25px;
}

.redes-sociais ul li a {
    color: #cc8e31;
    font-size: 20px;
    transition: 0.3s;
}

.redes-sociais ul li a:hover {
    color: black;
    transform: scale(1.1);
}

.copy-footer {
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
    padding: 20px;
}