body {
    font-family: "Poppins", sans-serif;
    background: rgb(226, 133, 38);
    background: linear-gradient(156deg, rgba(226, 133, 38, 1) 0%, rgba(239, 173, 81, 1) 51%, rgba(192, 145, 108, 1) 100%);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    margin: 0 auto;
}

.logo img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.cabecalho .navegacao ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cabecalho .navegacao a {
    color: #26180d;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: #977052;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegacao a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.principal {
    min-height: calc(100vh - 125px);
}