@media (max-width: 495px) {
    .cabecalho .navegacao ul {
        gap: 10px;
    }

    .navegacao ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 480px) {
    .container-fotos .carrossel-fotos .slides img {
        width: 100%;
        object-fit: cover;
    }

    .principal {
        min-height: 0;
    }
}

@media (max-width: 650px) {
    .cabecalho {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .logo img {
        max-width: 100px;
        max-height: 100px;
    }

    .container-fotos .carrossel-fotos .seta {
        font-size: 25px;
    }
}

@media (max-width: 730px) {
    .container-fotos .carrossel-fotos .slides img {
        width: 100%;
        object-fit: cover;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .redes-sociais ul li {
        display: flex;
        justify-content: center;
    }

    .redes-sociais h4 {
        display: flex;
        text-align: center;
    }
}

@media (max-width: 1920px) {
    .principal {
        min-height: 0;
    }
}